[core]
    pager = delta
    excludesFile = ~/.gitignore

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    dark = true
    plus-style                   = syntax "#3a273a"
    plus-non-emph-style          = syntax "#3a273a"
    plus-emph-style              = syntax "#6b2e43"
    plus-empty-line-marker-style = syntax "#3a273a"
    line-numbers-plus-style      = "#e26a75"
    minus-style                    = syntax "#273849"
    minus-non-emph-style           = syntax "#273849"
    minus-emph-style               = syntax "#305f6f"
    minus-empty-line-marker-style  = syntax "#273849"
    line-numbers-minus-style       = "#b8db87"
    line-numbers-zero-style       = "#3b4261"

[merge]
    tool = diffview
    conflictstyle = zdiff3
[mergetool]
    prompt = false
    keepBackup = false
[mergetool "diffview"]
    cmd = nvim -n -c "DiffviewOpen" "$MERGE"

[diff]
    colorMoved = default
[user]
    email = ashbythorpe@gmail.com
    name = Ashby Thorpe
[init]
    defaultBranch = main
[pull]
    ff = only
[credential]
    helper = cache
[credential "https://github.com"]
    helper = !/usr/bin/gh auth git-credential
[github]
    user = ashbythorpe
[credential "https://gist.github.com"]
    helper = !/usr/bin/gh auth git-credential
