(
    selected_tab: Some(Rgb(192, 153, 255)),
    command_fg: Some(Rgb(99, 109, 166)),
    selection_bg: Some(Rgb(47, 51, 77)),
    selection_fg: Some(Rgb(134, 225, 252)),
    cmdbar_bg: Some(Rgb(34, 36, 54)),
    cmdbar_extra_lines_bg: Some(Rgb(34, 36, 54)),
    disabled_fg: Some(Rgb(99, 109, 166)),
    diff_line_add: Some(Rgb(195, 232, 141)),
    diff_line_delete: Some(Rgb(255, 117, 127)),
    diff_file_added: Some(Rgb(79, 214, 190)),
    diff_file_removed: Some(Rgb(197, 59, 83)),
    diff_file_moved: Some(Rgb(255, 0, 124)),
    diff_file_modified: Some(Rgb(255, 199, 119)),
    commit_hash: Some(Rgb(192, 153, 255)),
    commit_time: Some(Rgb(79, 214, 190)),
    commit_author: Some(Rgb(195, 232, 141)),
    danger_fg: Some(Rgb(255, 117, 127)),
    push_gauge_bg: Some(Rgb(34, 36, 54)),
    push_gauge_fg: Some(Rgb(200, 211, 245)),
    tag_fg: Some(Rgb(255, 0, 124)),
    branch_fg: Some(Rgb(255, 199, 119)),
)